body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.board_title {
	font-weight: 700;
	font-size: 22pt;
	margin: 10pt;
}

.board_info_box {
	color: #6B6B6B;
	margin: 10pt;
}

.board_author {
	font-size: 10pt;
	margin-right: 10pt;
}

.board_date {
	font-size: 10pt;
}

.board_content {
	color: #444343;
	font-size: 12pt;
	margin: 10pt;
	width:500px;
	height:300px;
	overflow: hidden;
	border: 1px solid gray;
	border-radius : 5px;
}

.board_tag {
	font-size: 11pt;
	margin: 10pt;
	padding-bottom: 10pt;
}

.d-none{
	display:none;
}
.container{
	margin:auto;
}
.board_content textarea{
	width:100%;
	height:100%;
	resize: none;
	border:none;
}
