.member-information {
	width: 1100px;
	height: 800px;
	margin: auto;
	margin-top: 50px;
}

h1 {
	color: black;
	font-size: 30px;
	font-family: 'S-CoreDream-3Light';
	font-weight: bold;
	margin-bottom: 30px;
}

h2 {
	font-size: 25px;
	margin-left: 30px;
	margin-top: 30px;
}

h3 {
	font-size: 15px;
	margin-left: 30px;
	margin-top: 12px;
	margin-bottom: 30px;
}

.member-profile {
	border-radius: 10px;
	border: 1px solid gray;
	height: 400px;
	width: 100%;
	font-family: 'S-CoreDream-3Light';
}

.profile-content {
	margin-left: 30px;
	margin-right: 20px;
	border-bottom: 1px solid rgb(227, 227, 227);
}

.profile-content:hover {
	cursor: pointer;
	background: rgb(242, 242, 242);
	
}

.profile-block {
	padding-top: 16px;
	padding-bottom: 16px;
	display: flex;
	height: 33px;
}

.profile-block div:first-child {
	width: 300px;
	padding-top: 5px;
}

.profile-block div:nth-child(2) {
	width: 700px;
	padding-top: 5px;
}

.profile-block div:last-child {
	font-size: 24px;
	font-weight: 400;
	color: #5f6368;
	font-family: 'Material Icons Extended';
	height: 37px;
	margin-top: auto;
	margin-bottom: auto;
}

.member-pwd {
	letter-spacing: .00625em;
}

.phone-profile {
	width: 350px;
}

.phone-profile {
	margin-top: 80px;
	border-radius: 10px;
	border: 1px solid gray;
	height: 250px;
	width: 100%;
	
	font-family: 'S-CoreDream-3Light';
}

.phone-content {
	margin-left: 30px;
	margin-right: 20px;
	border-bottom: 1px solid rgb(227, 227, 227);
}

.phone-content:hover {
	cursor: pointer;
	background: rgb(242, 242, 242);
}

.phone-block {
	padding-top: 17px;
	padding-bottom: 16px;
	display: flex;
	height: 33px;
}

.phone-block div:first-child {
	width: 300px;
}

.phone-block div:nth-child(2) {
	width: 700px;
}

.phone-block div:last-child {
	font-size: 24px;
	font-weight: 400;
	color: #5f6368;
	font-family: 'Material Icons Extended';
}

.member-pwd {
	font-size: 13px;
}

.d-none {
	display: none;
}

h4 {
	font-size: 30px;
	padding-left: 20px;
	padding-top: 20px;
	height: 70px;
}

/* 이름 수정*/

.name-detail {
	--background:rgb(47, 47, 47);
	background:white;
	font-family: 'S-CoreDream-3Light';
	position: fixed;
	top: 35%;
	left: 40%;
	margin-top: -75px;
	margin-left: -75px;
	width: 500px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid gray;
	
}

.name-detail div div:first-child {
	padding-left: 40px;
	margin-bottom: 30px;
}

.name-detail div div:last-child {
	width: 80%;
	height: 50px;
	margin: auto;
}

.name-detail div div:last-child input {
	width: 70%;
	height: 100%;
	border-radius: 6px;
	border: 1px solid rgb(227, 227, 227);
	padding-left: 40px;
	letter-spacing: 7px;
	
	
}

.name-detail button {
	cursor: pointer; width : 80px;
	height: 40px;
	margin-left: 10px;
	margin-top: 40px;
	background: #1a73e8;
	border: none;
	border-radius: 4px;
	font-family: 'S-CoreDream-3Light';
	font-weight:bold;
	width: 80px;
	
}

.name-detail button:first-child {
	margin-left: 260px;
	background: none;
}

.name-detail button:first-child:hover {
	background: rgb(230, 230, 230);
}

.name-detail button:last-child:hover {
	opacity:1.2;
}
input{
	outline: none;
	
}
.name-detail div div:last-child input:hover{
	border: 1px solid rgb(167, 167, 167);
}
.name-detail div div:last-child input:focus{
	border: 1px solid #1a73e8;
}


/* 비밀번호 수정*/

.pwd-detail{
--background:rgb(47, 47, 47);
	background:white;
	font-family: 'S-CoreDream-3Light';
	position: fixed;
	top: 35%;
	left: 40%;
	margin-top: -75px;
	margin-left: -75px;
	width: 500px;
	height: 450px;
	border-radius: 10px;
	border: 1px solid gray;

}

.pwd-detail div div:first-child {
	padding-left: 40px;
	margin-bottom: 15px;
}

.pwd-detail div div:last-child {
	width: 80%;
	height: 50px;
	margin: auto;
}

.pwd-detail div div:last-child input {
	width: 70%;
	height: 100%;
	border-radius: 6px;
	border: 1px solid rgb(227, 227, 227);
	padding-left: 40px;
	font-size:5px;
}

.pwd-detail button {
	cursor: pointer; width : 80px;
	height: 40px;
	margin-left: 10px;
	margin-top: 50px;
	background: #1a73e8;
	border: none;
	border-radius: 4px;
	font-family: 'S-CoreDream-3Light';
	font-weight:bold;
	width: 80px;
}

.pwd-detail button:first-child {
	margin-left: 260px;
	background: none;
}

.pwd-detail button:first-child:hover {
	background: rgb(230, 230, 230);
}

.pwd-detail button:last-child:hover {
	opacity:1.2;
}
.pwd-detail div div:last-child input:hover{
	border: 1px solid rgb(167, 167, 167);
}
.pwd-detail div div:last-child input:focus{
	border: 1px solid #1a73e8;
}
.check-pwd{
	margin-top : 15px;
}
.different-pwd{
	color:red;
	padding-left : 160px;
	margin-top:30px;
	height:23px;
}
.different-name{
	color:red;
	padding-left : 130px;
	margin-top:30px;
	height:23px;
}
.different-phone{
	color:red;
	padding-left : 130px;
	margin-top:30px;
	height:23px;
}
input:focus::-webkit-input-placeholder{
	 color:transparent;
}


/* 번호 수정*/
.phone-detail {
	--background:rgb(47, 47, 47);
	background:white;
	font-family: 'S-CoreDream-3Light';
	position: fixed;
	top: 35%;
	left: 40%;
	margin-top: -75px;
	margin-left: -75px;
	width: 500px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid gray;
	
}

.phone-detail div div:first-child {
	padding-left: 40px;
	margin-bottom: 30px;
}

.phone-detail div div:last-child {
	width: 80%;
	height: 50px;
	margin: auto;
}

.phone-detail div div:last-child input {
	width: 70%;
	height: 100%;
	border-radius: 6px;
	border: 1px solid rgb(227, 227, 227);
	padding-left: 40px;
	letter-spacing: 7px;
	
	
}

.phone-detail button {
	cursor: pointer; width : 80px;
	height: 40px;
	margin-left: 10px;
	margin-top: 40px;
	background: #1a73e8;
	border: none;
	border-radius: 4px;
	font-family: 'S-CoreDream-3Light';
	font-weight:bold;
	width: 80px;
	
}

.phone-detail button:first-child {
	margin-left: 260px;
	background: none;
}

.phone-detail button:first-child:hover {
	background: rgb(230, 230, 230);
}

.phone-detail button:last-child:hover {
	opacity:1.2;
}

}
.phone-detail div div:last-child input:hover{
	border: 1px solid rgb(167, 167, 167);
}
.phone-detail div div:last-child input:focus{
	border: 1px solid #1a73e8;
}